body {background-color: navy}
h1 {color:yellow}
p {color:black; font-style: italic}
a:hover {
	color: White;
	cursor: pointer;
}
.prodImg:hover 
{
	height: 450px;
	width: 600px;
}
#top-panel
{
	background-color: Gray;
	height:10%;
}
#side-panel
{
	background-color: Gray;
	float: left;
	height: 100%;
	width: 10%;
}
#content
{
	background-color: LightBlue;
	float: right;
	width: 90%;
	color:black;
}
#admin
{
	visibility: hidden;
}